
  
  * {
    font-family: "Noto Kufi Arabic", sans-serif;
}
  
    
  
  .gizalab {
      font-family: "Dancing Script", cursive;
  }
  
  .logo {
      height: 70px;
      width: auto;
  }
  
  .nav a {
      text-decoration: none;
      color: rgb(0, 107, 143);
  }
  
  .navlink {
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: 0.3s;
  }
  
  .navlink:hover {
    color: rgb(0, 107, 143);
  }
  
  .lang {
    display: flex;
    align-items: center;
  }
  
  .lang a {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 50%;
    height: 30px;
    transition: 0.2s;
  }
  
  .lang a:hover {
    background-color: rgb(0, 107, 143);
    color: white;
    border: 0;
  }
  
  #homepage {
    position: relative;
    height: 94vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
  }
  
  .hometext {
    position: relative;
    z-index: 2; 
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  
  .buttoncontact {
    background-color: #ffffff;
    color: #001F3F;
    width: 150px;
    height: 35px;
    border-radius: 1cm;
    border: 1px solid #001F3F;
    transition: 0.3s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .buttoncontact:hover {
    scale: 1.1;
    background-color: #001F3F;
    color: white;
    border: 1px solid #001F3F;
  }
  
  
  /* Second Section (Article Section0 ) */
  
  #homepage {
    height: 100vh;
  }
  
  
  .article_preview_left {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    background-color: #001F3F;
    color: white;
    border-radius: 0.5cm;
  }
  
  .IAelemnt {
    height: 200px;
    width: auto;
  }
  
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .article_preview_right {
    animation: appearright linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    background-color: #001F3F;
    color: white;
    border-radius: 0.5cm;
    
  }
  
  @keyframes appearright {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  
  .containertweo {
    display: flex;
    justify-content: end;
  }
  
  .containercard {
  background-color: white;
    background-size:cover;
    background-position: center;
  }
  
  
  
  
  /* Contact Form  */
  
  
  
  .Contactsec {
    height: 70vh;
    background-color: #001F3F;
    align-items: center;
    color: white;
  }
  
  .leftsidecon{
    height: 100%;
    direction: rtl;
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  .social-links a {
    border: 1px solid #001F3F;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  
  .social-links a i {
    margin-right: 8px;
  }
  
  .social-links a:hover {
    background-color: #e0e0e0;
    color: #227B94;
  }
  